/*Section Styles*/

.hero {
    background-color: #f9f9f9; 

    .hero-content {
        display: block;
        width: 100%;
        max-width: 1440px;
        padding: 80px 40px;
        margin: auto;

        @media (min-width: 1200px) {

            padding: 80px 60px;

        }

            .hero-card-container {
                display: block;
                margin: auto;

                @media (min-width: 992px) {
                    padding: auto;
                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr;
                    grid-template-columns: 1fr 1fr;

                }
                .card1 {

                    grid-row-start: 1;
                    grid-column-start: 1;
                    grid-row-end: 4;
                    grid-column-end: 1;
                    padding: 0 60px 0 0;
                    
                    h2 {
                        margin: 0 0 40px 0;
                        padding: 0;
                        font-size: clamp(16px, 6vw, 56px);
                        line-height: 1.3;

                    }
                    p {
                        font-size: clamp(16px, 2vw, 24px);
                        line-height: 1.8;
                        font-weight: 100;
                        margin-bottom: 20px;
                    }
                }

                .card2,
                .card3,
                .card4 {
                    border: 1px solid $primary;
                    margin: 0 auto 20px auto;
                    padding: 40px;
             

                    h3 {
                        font-size: clamp(16px, 3vw, 22px);
                        line-height: 1.4;
                    }

                   p {
                        font-size: clamp(16px, 2vw, 16px);
                        line-height: 1.4;
                    }

                }

                .card2 {
                    grid-row-start: 1;
                    grid-column-start: 2;
                    grid-row-end: 1;
                    grid-column-end: 2;


                }

                .card3 {
                    grid-row-start: 2;
                    grid-column-start: 2;
                    grid-row-end: 2;
                    grid-column-end: 2;

                }

                .card4 {
                    grid-row-start: 3;
                    grid-column-start: 2;
                    grid-row-end: 3;
                    grid-column-end: 2;
                }

        }

       



    }

}