/*Section Styles*/

.hero {
        padding: 40px 40px 0 40px;
        display: block;
        background-color: $gray;
        margin: auto;

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        width: auto;
        background: $white;
        text-align: center;
        max-width: 1140px;


    .hero-content {

        @media (min-width: 768px){
            max-width: 100%;
        }

        @media (min-width: 992px){
            padding: 0;
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

    }

    .card-container {
        display: block;

        @media (min-width: 992px){
       
            display: flex;
        }

        .card {
            padding: 40px 20px;
            margin-bottom: 20px;
            flex: 1;

            @media (min-width: 992px){
                margin-bottom: 0;
            }


        }

    }

    h2 {
        font-size: 2em;
        line-height: 1.2em;

        @media (min-width:768px) {
            font-size: 3.2em;
            line-height: 1.2em;

        }
    }

    p {
        font-size: 1rem;
        font-size: 1rem;

        @media (min-width:768px) {
            font-size: 1.8rem;

        }

        @media (min-width: 992px) {
            font-size: 1.8rem;
            line-height: 1.6em;

        }
    }

}