body {
    font-family: 'Poppins', Arial, serif;
    min-width: 100%;
    height: initial;
    line-height: 1;
    background-color: $white;
    transition: background-color .5s;
}

/*Resets*/
html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

//footer styles
.entry-footer {
    background-color: $white;
}

footer {
    background-color: $gray;
    padding: 0;
    margin-top: auto;

    p {
        margin-bottom: 0;
    }
}