.skip {
    display: none;
}
.button {
    border-radius: 25px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $blue;
    padding: 15px 40px;
    display: inline-block;
    font-size: .8em;
    transition: all 0.2s ease;
    font-weight: bold;
    letter-spacing: .1em;

    &:hover {
        background-color: $secondary;
        color: $white;
    }

}

.pill-container {
    margin: 40px auto;

    @media (min-width: 768px){
    	margin: 40px 0;
    }
}

.pill {
    border-radius: 38px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $primary;
    padding: 12px 24px;
    margin:   0 auto 10px auto;
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: .8em;
    transition: all 0.2s ease;
    font-weight: bold;
    letter-spacing: .1em;

    @media (min-width: 576px){
        display: inline-block;

    }
    @media (min-width:768px) {
        padding: 18px 32px;
        width: auto;
        margin: 0 auto 10px auto;
        font-size: .8em;

    }

    @media (min-width: 992px) {

        font-size: .8em;
        padding: 12px 24px;
        margin: 0 10px 0 0;
    }

    &:hover {
        background-color: $secondary;
        color: $white;
    }
}

.button-alt {
    background-color: $secondary;

    &:hover {
        background-color: $primary;
    }
}
.grid-row {
    display: flex;
    display: block;
    width: 100%;

.grid-container {
    max-width: 1140px;
    justify-items: center;

    @media (min-width: 768px){
        display: grid; 
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr 1fr 1fr ;
        margin: auto;
        gap: 20px;
        padding: 0 40px;
    }
    .card { 
        border: 1px solid $primary; 
        padding: 20px; 
        margin-bottom: 20px;
        
        h3 {
            font-size: clamp(16px, 6vw, 28px);
                        line-height: 1.4;
        }
        img {
            width: 100%;
            height: auto;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px; 
          
        }
        
        .entry-footer {
            font-size: clamp(14px, 3vw, 16px);
            line-height: 1.4;
            padding: 10px 0;
        }

    
    }
    
}
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-80 {
    margin-bottom: 80px;
}