/*Section Styles*/

.hero {
    background-color: #ffffff;

    .hero-content {
        display: flex;
        width: 100%;

        .hero-container {
            width: 90vw;
            margin: auto;
            padding: 40px 0;
            
            @media (max-width: 767.98px){
            
                display: flex;
                max-height: 140vh;
                flex-wrap: wrap;
                width: 95vw;
                justify-content: center;
                align-items: center;
                padding: 40px 0;
            }

            @media screen and (min-device-width: 992px) {
                flex-wrap: unset;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                display: flex;
                flex: 1;
                max-width: 89vw;
                height: 90vh;
                margin: auto;
                padding: 40px 0;
            }

            @media (min-width: 992px){
            	flex-wrap: unset;
            }
              
            @media (min-width: 1400px) {
                height: 100vh;
            }


            .col-1 {
                width: auto;
                margin: auto;
                text-align: center;
                @media (min-width: 992px){
                    text-align: left;
                }
                h2 {
                    margin: 0 0 20px 0;
                    padding: 0;
                    font-size: clamp(18px, 10vw, 64px);
                    line-height: 1.3;
                }

                p {
                    font-size: clamp(16px, 2vw, 24px);
                    line-height: 1.8;
                    font-weight: 100;
                    margin-bottom: 20px;
                }

            }

            .col-2 {
                display: flex;
                width: auto;

                h3 {
                    font-size: clamp(16px, 5vw, 24px);
                    line-height: 1.4;
                }

                p {
                    font-size: clamp(16px, 3vw, 18px);
                    line-height: 1.4;
                }

                img {
                    width: 50%;
                    display: block;
                    margin: 40px auto;
                }

            }

        }

    }
}