/*Section Styles*/

.hero {
    background-color: #ffffff;

    .hero-content {
        display: flex;
        width: 100%;

        .hero-container {
            width: 90vw;
            margin: auto;
            padding: 40px 0;
            
            @media (max-width: 400px) {
                display: flex;
                max-height: 140vh;
                flex-wrap: wrap;
                width: 95vw;
                justify-content: center;
                align-items: center;
                padding: 40px 0;
            }

            @media (min-width: 992px) {
                flex-wrap: unset;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                display: flex;
                flex: 1;
                max-width: 91vw;
                height: 70vh;
                margin: auto;
                padding: 40px 0;
            }

            @media (min-width: 1200px) {
                height: 100vh;
            }

            /*ipad pro Landscape*/

            @media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
                height: 40vh;
                max-width: 91vw;
                padding: 40px 0;
            }

            /* ipad pro Portrait*/
            @media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
                height: 40vh;
                max-width: 91vw;
                padding: 40px 0;
            }

            .col-1 {
                width: auto;
                margin: auto;
                text-align: center;

                h2 {
                    margin: 0 0 20px 0;
                    padding: 0;
                    font-size: clamp(18px, 10vw, 64px);
                    line-height: 1.3;
                }

                p {
                    font-size: clamp(16px, 2vw, 24px);
                    line-height: 1.8;
                    font-weight: 100;
                    margin-bottom: 20px;
                }

            }

            .col-2 {
                display: flex;
                width: auto;

                h3 {
                    font-size: clamp(16px, 5vw, 24px);
                    line-height: 1.4;
                }

                p {
                    font-size: clamp(16px, 3vw, 18px);
                    line-height: 1.4;
                }

                img {
                    width: 50%;
                    display: block;
                    margin: 40px auto;
                }

            }

        }

    }
}