
.banner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: auto auto 5px auto;
    text-align: left;
    width: 100%;
    max-width: 93vw;
   
    @media (min-width: 992px){
    	max-width: 92vw;
    }
    @media (min-width: 1200px){
        max-width: 88vw;
    }
}
.logo {
    color: $primary;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .5px;
    font-size: 1.125em;
    transition: 1s;
    &:hover{
        text-decoration: underline;
        color: $secondary;
    }
}

.menu-social-links {
    display: none;
}
  .menu {
    margin: auto;
    width: 100%;
    display: inline-flex;
    height: auto; 
  }
  
  .menu > li  {
    margin: 0;
    overflow: hidden;
    width: auto;

    a {
        color: $primary;
        text-decoration: none;
        font-size: 1.125em;
        padding: 1em;
        margin: auto 0 auto .1em;
        display: block;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: .5px;
        transition: .5s;
        &:hover {
            color: $white;
            background-color: $primary;
        }
    }
  }
  .menu-button-container {
    display: none;
    height: auto;
    width: auto;
    cursor: pointer;
    margin: auto;
    height: 10vh;
    font-size: 1em;
  }

  #menu-toggle {
    display: none;
    width: auto;
    margin: auto;
  }
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: inline-flex;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    z-index: 10000;
    margin: auto 0;
    height: auto;
  }
  #menu-toggle + .menu-button-container .menu-button::before {
    font-family: 'Font Awesome 6 Pro';
    content: '\f0c9';
    font-size: 2em;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {

    transform: rotate(-405deg);
    content: '';
    
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
    font-family: 'Font Awesome 6 Pro';
    content: '\f00d';
    font-size: 2em;
    width: auto;
    margin: 0;
    justify-self: end;
    height: auto;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    transform: rotate(0);
    font-family: 'Font Awesome 6 Pro';
    content: '\f00d';
  }
  @media (max-width: 700px) {
    .banner-container {
        max-width: 90vw;
        flex-wrap: wrap;
        background-color: $white;
        padding: 20px 0;
        margin-bottom: 20px;
        height: 55px;
    }
    .menu-button-container {
      display: inline-flex;
        justify-content: flex-end;
        align-items: end;
        align-self: end;
        flex: 1;
        z-index: 1000;
        height: auto;
    }
    .menu-container {
        min-width: 100%;
        display: none;
        padding: 20px;
        background-color: $white;
        position: relative;
        align-items: flex-start;
        margin-top: 20px;
        box-shadow: 1px 0px 9px 3px rgba(0,0,0,0.45);
        -webkit-box-shadow: 1px 0px 9px 3px rgba(0,0,0,0.45);
        -moz-box-shadow: 1px 0px 9px 3px rgba(0,0,0,0.45);
    }
    .menu {
        margin: 0 auto;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
      }
    .nav-menu {
        min-width: 100%;
    }
    #menu-toggle:checked ~ .menu-container {
        height: auto;
        width: auto;
        display: flex;
    }
    #menu-toggle:checked ~ .menu-container .nav-menu .menu li a {
      padding: .5em;
      border-left: 5px solid $primary;
      opacity: 1;
      margin: auto auto 10px auto;
      transition: .4s;
      min-width: 100%;
      display: block;
    }
    .nav-menu .menu > li {
      display: flex;
      justify-content: start;
      margin: 0;
      width: 100%;
    }

    /*Social Links Styles*/
    .menu-social-links {
        margin: auto;
        width: auto;
        display: flex;
        justify-content: center;

        @media (min-width: 992px){
        	justify-content: start;
        }
        
        li {
            list-style: none;
            display: inline-block;

            a {
                color: $primary;
                transition: all 0.2s ease;
                height: auto;
                 padding: 0 0.625em 0 0 ;
                 font-size: 1.4rem;
                &:hover {
                    color: $secondary;

                }
            }
        }

    }
}
 
.social-links {
    margin: auto;
    width: auto;
    display: flex;
    justify-content: center;

    @media (min-width: 992px){
        justify-content: start;
    }
    
    li {
        list-style: none;
        display: inline-block;

        a {
            color: $primary;
            transition: all 0.2s ease;
            height: auto;
             padding: 0 0.625em 0 0 ;
             font-size: 1.4rem;
            &:hover {
                color: $secondary;

            }
        }
    }

}