//utilities
$primary: rgb(2, 48, 71);
$secondary: #354a95; 
$gray: rgb(234, 234, 234);
$brown: rgb(232, 218, 178);
$white: rgb(255, 255, 255);
$black: rgb(27, 27, 27);
$yellow: rgb(255, 183, 3);
$red: rgb(154, 19, 14);
$blue: #023047;
$link-color: #346aff;